opencv-python
numpy
h11
cffi
pip
wheel
cryptography
colorama
trio
outcome
attrs
sniffio
sortedcontainers
idna
setuptools
certifi
six
urllib3
PyMsgBox
selenium
pyperclip
MouseInfo
PyScreeze
pytweening
PyGetWindow
PyAutoGUI
pycparser
PyRect
wsproto
tqdm
Pillow
scipy
matplotlib
mpmath
sympy
bezier
svgwrite
svgpathtools
requests
pytz
docutils